<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>대한신경정신의학회</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>knpa2022s</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>행사 포토 이벤트 참여를 위해 사용자의 앨범에 접근합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>행사 포토 이벤트 참여를 위해 사용자의 앨범에 접근합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>행사 포토 이벤트 참여를 위해 사용자의 앨범에 접근합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>NotoSansKR-Thin.otf</string>
		<string>NotoSansKR-Regular.otf</string>
		<string>NotoSansKR-Medium.otf</string>
		<string>NotoSansKR-Light.otf</string>
		<string>NotoSansKR-DemiLight.otf</string>
		<string>NotoSansKR-Bold.otf</string>
		<string>NotoSansKR-Black.otf</string>
		<string>DINMed.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>Lato-BlackItalic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Hairline.ttf</string>
		<string>Lato-HairlineItalic.ttf</string>
		<string>Lato-Heavy.ttf</string>
		<string>Lato-HeavyItalic.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Medium.ttf</string>
		<string>Lato-MediumItalic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Semibold.ttf</string>
		<string>Lato-SemiboldItalic.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>Lato-ThinItalic.ttf</string>
		<string>times.ttf</string>
		<string>timesbd.ttf</string>
		<string>timesbi.ttf</string>
		<string>timesi.ttf</string>
		<string>NanumSquareBold.ttf</string>
		<string>NanumSquareExtraBold.ttf</string>
		<string>NanumSquareLight.ttf</string>
		<string>NanumSquareRegular.ttf</string>
		<string>NanumSquareRoundB.ttf</string>
		<string>NanumSquareRoundEB.ttf</string>
		<string>NanumSquareRoundL.ttf</string>
		<string>NanumSquareRoundR.ttf</string>
		<string>DINPro-Black.otf</string>
		<string>DINPro-BlackItalic.otf</string>
		<string>DINPro-Bold.otf
DINPro-BoldItalic.otf</string>
		<string>DINPro-BoldItalic.otf</string>
		<string>DINPro-Cond.otf</string>
		<string>DINPro-CondBlack.otf</string>
		<string>DINPro-CondBlackIta.otf</string>
		<string>DINPro-CondBold.otf</string>
		<string>DINPro-CondBoldIta.otf</string>
		<string>DINPro-CondIta.otf</string>
		<string>DINPro-CondLight.otf</string>
		<string>DINPro-CondLightIta.otf</string>
		<string>DINPro-CondMediIta.otf</string>
		<string>DINPro-CondMedium.otf</string>
		<string>DINPro-Italic.otf</string>
		<string>DINPro-Light.otf</string>
		<string>DINPro-LightItalic.otf</string>
		<string>DINPro-Medium.otf</string>
		<string>DINPro-MediumItalic.otf</string>
		<string>DINPro.otf</string>
		<string>Muli-Black.ttf</string>
		<string>Muli-BlackItalic.ttf</string>
		<string>Muli-Bold.ttf</string>
		<string>Muli-BoldItalic.ttf</string>
		<string>Muli-ExtraBold.ttf</string>
		<string>Muli-ExtraBoldItalic.ttf</string>
		<string>Muli-ExtraLight.ttf</string>
		<string>Muli-ExtraLightItalic.ttf</string>
		<string>Muli-Italic.ttf</string>
		<string>Muli-Light.ttf</string>
		<string>Muli-LightItalic.ttf</string>
		<string>Muli-Regular.ttf</string>
		<string>Muli-SemiBold.ttf</string>
		<string>Muli-SemiBoldItalic.ttf</string>
		<string>Myriad-Pro-Bold.ttf</string>
		<string>SF-Mono-SemiboldItalic.otf</string>
		<string>SF-Mono-Semibold.otf</string>
		<string>SF-Mono-RegularItalic.otf</string>
		<string>SF-Mono-Regular.otf</string>
		<string>SF-Mono-MediumItalic.otf</string>
		<string>SF-Mono-Medium.otf</string>
		<string>SF-Mono-LightItalic.otf</string>
		<string>SF-Mono-Light.otf</string>
		<string>SF-Mono-HeavyItalic.otf</string>
		<string>SF-Mono-Heavy.otf</string>
		<string>SF-Mono-BoldItalic.otf</string>
		<string>SF-Mono-Bold.otf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>NanumGothic.otf</string>
		<string>NanumGothicBold.otf</string>
		<string>NanumBarunGothic.otf</string>
		<string>NanumBarunGothicBold.otf</string>
		<string>NanumBarunGothicLight.otf</string>
		<string>NanumBarunGothicUltraLight.otf</string>
		<string>아리따-돋움(OTF)-Bold.otf</string>
		<string>아리따-돋움(OTF)-Light.otf</string>
		<string>아리따-돋움(OTF)-Medium.otf</string>
		<string>아리따-돋움(OTF)-SemiBold.otf</string>
		<string>아리따-돋움(OTF)-Thin.otf</string>
		<string>NotoSansCJKkr-Medium.otf</string>
		<string>NotoSansCJKkr-Black.otf</string>
		<string>NotoSansCJKkr-Bold.otf</string>
		<string>NotoSansCJKkr-DemiLight.otf</string>
		<string>NotoSansCJKkr-Light.otf</string>
		<string>NotoSansCJKkr-Regular.otf</string>
		<string>NotoSansCJKkr-Thin.otf</string>
		<string>NotoSansMonoCJKkr-Bold.otf</string>
		<string>NotoSansMonoCJKkr-Regular.otf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
