<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673510628386-lanrklvc742todc8muor5pevocber63j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673510628386-lanrklvc742todc8muor5pevocber63j</string>
	<key>API_KEY</key>
	<string>AIzaSyDMdqFZE4JBMu_x_mvjLWn5vz4mtEu2zGU</string>
	<key>GCM_SENDER_ID</key>
	<string>673510628386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.m2community.knpa2023s</string>
	<key>PROJECT_ID</key>
	<string>ioskeys</string>
	<key>STORAGE_BUCKET</key>
	<string>ioskeys.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673510628386:ios:718008c7e62a322779fe7b</string>
	<key>DATABASE_URL</key>
	<string>https://ioskeys.firebaseio.com</string>
</dict>
</plist>